@model List<PFRCentr.App.MvcClient.Models.Dto.CategoryDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br/>
<br/>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Categories</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="CreateCategory" class="btn btn-outline-primary">
                <i class="fas fa-plus">Create new Category</i>
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Category Name
            </th>
            <th>
                Category Description
            </th>
            <th>
                Category Serial
            </th>
            <th>
                Category Number
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>

                <td>@item.CategoryName</td>

                <td>@item.CategoryDescription</td>

                <td>@item.CategorySeries</td>

                <td>@item.QuantityCertificates</td>
                <td>

                    <a asp-action="EditCategory" class="btn btn-success"
                       asp-controller="Category" asp-route-categoryId="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="DeleteCategory" class="btn btn-danger"
                       asp-controller="Category" asp-route-categoryId="@item.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}